---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import { SITE_TITLE } from '~/consts'
import MainLayout from '../../layouts/MainLayout.astro'
import { compareDesc } from 'date-fns/compareDesc'

const posts = (await getCollection('blog')).sort((a, b) =>
  compareDesc(b.data.pubDate, a.data.pubDate),
)
---

<MainLayout
  title={`Blog | ${SITE_TITLE}`}
  description="Notes from a full stack developer; all of my thoughts on programming, life, and more, collected in reverse chronological order."
>
  <section>
    <ul>
      {
        posts.map(post => (
          <li>
            <a href={`/blog/${post.slug}/`} transition:name={post.slug}>
              <Image
                width={720}
                height={360}
                src={post.data.image}
                alt={post.data.title}
              />
              <h4 class="title">{post.data.title}</h4>
              <p class="date" />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
