---
import { compareDesc } from 'date-fns/compareDesc'
import { format } from 'date-fns/format'
import { getCollection } from 'astro:content'
import AccessibilityIcon from '~/components/icons/AccessibilityIcon.astro'
import AngularIcon from '~/components/icons/AngularIcon.astro'
import AtSymbolIcon from '~/components/icons/AtSymbolIcon.astro'
import AzureDevOpsIcon from '~/components/icons/AzureDevOpsIcon.astro'
import AzureIcon from '~/components/icons/AzureIcon.astro'
import Badge from '~/components/Badge.astro'
import BootstrapIcon from '~/components/icons/BootstrapIcon.astro'
import CSharpIcon from '~/components/icons/CSharpIcon.astro'
import CssIcon from '~/components/icons/CssIcon.astro'
import DotNetIcon from '~/components/icons/DotNetIcon.astro'
import FigmaIcon from '~/components/icons/FigmaIcon.astro'
import GitHubIcon from '~/components/icons/GitHubIcon.astro'
import GitIcon from '~/components/icons/GitIcon.astro'
import HtmlIcon from '~/components/icons/HtmlIcon.astro'
import invariant from 'tiny-invariant'
import JavaScriptIcon from '~/components/icons/JavaScriptIcon.astro'
import LInkedInIcon from '~/components/icons/LInkedInIcon.astro'
import LinkIcon from '~/components/icons/LinkIcon.astro'
import ReactIcon from '~/components/icons/ReactIcon.astro'
import ResumeLagout from '~/layouts/ResumeLagout.astro'
import SassIcon from '~/components/icons/SassIcon.astro'
import SqlServerIcon from '~/components/icons/SqlServerIcon.astro'
import TailwindCssIcon from '~/components/icons/TailwindCssIcon.astro'
import TypeScriptIcon from '~/components/icons/TypeScriptIcon.astro'

const jobs = await getCollection('jobs')
const education = await getCollection('education')

const skillsIcons = {
  Accessibility: AccessibilityIcon,
  Angular: AngularIcon,
  'Azure DevOps': AzureDevOpsIcon,
  Azure: AzureIcon,
  Bootstrap: BootstrapIcon,
  'C#': CSharpIcon,
  CSS: CssIcon,
  '.NET': DotNetIcon,
  Figma: FigmaIcon,
  Git: GitIcon,
  HTML: HtmlIcon,
  JavaScript: JavaScriptIcon,
  React: ReactIcon,
  Sass: SassIcon,
  'SQL Server': SqlServerIcon,
  'Tailwind CSS': TailwindCssIcon,
  TypeScript: TypeScriptIcon,
} satisfies Record<string, Function>
---

<ResumeLagout
  class="grid min-h-svh place-content-center space-y-10 bg-white p-12 text-zinc-950 dark:bg-zinc-900 dark:text-zinc-50 print:space-y-4 print:bg-white print:p-0 print:text-zinc-950"
>
  <header class="max-w-prose">
    <h1
      class="text-balance text-3xl font-bold text-blue-600 dark:text-blue-400 print:text-blue-600"
    >
      Allen Hansen
    </h1>
    <h2 class="mb-6 text-balance text-xl print:mb-3">
      Senior Full Stack Software Developer
    </h2>
    <p class="mb-6 text-pretty print:mb-3 print:text-sm">
      Software Developer with over 7 years of experience specializing in
      building web apps and microservices. Passionate about leveraging web
      standards to create accessible and intuitive user experiences that perform
      at scale.
    </p>
    <ul
      class="flex flex-wrap gap-3 text-sm print:gap-1.5 print:divide-x print:divide-zinc-400 print:[&>li:not(:first-child)]:pl-1.5"
    >
      <li>
        <a
          class="inline-flex items-center gap-2"
          href="mailto:me@allenhansen.dev"
          target="_blank"
          rel="noopener noreferrer"
        >
          <AtSymbolIcon class="size-3.5 print:hidden" />
          me@allenhansen.dev
        </a>
      </li>
      <li>
        <a
          class="inline-flex items-center gap-2"
          href="https://allenhansen.dev"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkIcon class="size-3.5 print:hidden" />
          allenhansen.dev
        </a>
      </li>
      <li>
        <a
          class="inline-flex items-center gap-2"
          href="https://www.linkedin.com/in/allen-hansen"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LInkedInIcon class="size-3.5 print:hidden" />
          linkedin.com/in/allen-hansen
        </a>
      </li>
      <li>
        <a
          class="inline-flex items-center gap-2"
          href="https://github.com/AMEH64"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GitHubIcon class="size-3.5 print:hidden" />
          github.com/ameh64
        </a>
      </li>
    </ul>
  </header>
  <main class="max-w-prose space-y-10 print:space-y-4">
    <section aria-labelledby="experience" class="space-y-10 print:space-y-4">
      <h2
        id="experience"
        class="mb-8 text-xl font-semibold text-blue-600 dark:text-blue-400 print:mb-4 print:text-blue-600"
      >
        Experience
      </h2>
      {
        jobs
          .sort((a, b) => compareDesc(a.data.startDate, b.data.startDate))
          .map(job => (
            <article>
              <div class="mb-6 grid grid-cols-1 gap-2 sm:grid-cols-2 print:mb-3 print:gap-1">
                <h3 class="order-1 text-lg font-bold print:text-base">
                  {job.data.position}
                </h3>
                <p class="order-3 sm:order-2 sm:text-end print:text-sm">
                  <time datetime={job.data.startDate}>
                    {format(job.data.startDate, 'MMMM yyyy')}
                  </time>
                  {' - '}
                  <time datetime={job.data.endDate}>
                    {job.data.endDate
                      ? format(job.data.endDate, 'MMMM yyyy')
                      : 'Present'}
                  </time>
                </p>
                <p class="order-2 sm:order-3 print:text-sm">
                  {job.data.company}
                </p>
                <p class="order-4 sm:text-end print:text-sm">
                  {job.data.location}
                </p>
              </div>
              <ul class="ml-6 list-disc space-y-2 print:space-y-0 print:text-sm">
                {job.data.highlights.map(highlight => (
                  <li>{highlight}</li>
                ))}
              </ul>
            </article>
          ))
      }
    </section>
    <section aria-labelledby="skills" class="space-y-4 print:space-y-2">
      <h2
        id="skills"
        class="mb-8 text-xl font-semibold text-blue-600 dark:text-blue-400 print:mb-4 print:text-blue-600"
      >
        Skills
      </h2>
      <ul
        class="flex flex-wrap gap-3 text-sm print:gap-1.5 print:divide-x print:divide-zinc-300 print:[&>li:not(:first-child)]:pl-1.5"
      >
        {
          [...new Set(jobs.flatMap(job => job.data.skills))]
            .sort(
              (a, b) =>
                Object.keys(skillsIcons).indexOf(a) -
                Object.keys(skillsIcons).indexOf(b)
            )
            .map(skill => {
              const Icon = skillsIcons[skill as keyof typeof skillsIcons]
              invariant(Icon, `Icon for skill ${skill} could not be found.`)
              return (
                <li>
                  <Badge>
                    <Icon class="size-3.5 print:hidden" />
                    {skill}
                  </Badge>
                </li>
              )
            })
        }
      </ul>
    </section>
    <section aria-labelledby="education">
      <h2
        id="education"
        class="mb-8 text-xl font-semibold text-blue-600 dark:text-blue-400 print:mb-4 print:text-blue-600"
      >
        Education
      </h2>
      {
        education.map(item => (
          <article>
            <div class="mb-6 grid grid-cols-1 gap-2 sm:grid-cols-2 print:mb-3 print:gap-1">
              <h3 class="order-1 text-lg font-bold print:text-base">
                {item.data.degree}
              </h3>
              <p class="order-3 sm:order-2 sm:text-end print:text-sm">
                <time datetime={item.data.graduationDate}>
                  {format(item.data.graduationDate, 'MMMM yyyy')}
                </time>
              </p>
              <p class="order-2 sm:order-3 print:text-sm">{item.data.school}</p>
              <p class="order-4 sm:text-end print:text-sm">
                {item.data.location}
              </p>
            </div>
            <ul
              class:list={[
                item.data.highlights.length > 1 &&
                  'ml-6 list-disc space-y-2 print:space-y-0',
                'print:text-sm',
              ]}
            >
              {item.data.highlights.map(highlight => (
                <li>{highlight}</li>
              ))}
            </ul>
          </article>
        ))
      }
    </section>
  </main>
</ResumeLagout>

<style>
  @media print {
    @page {
      size: letter;
      margin: 1in;
      page-orientation: upright;
    }
  }
</style>
