---
import MainLayout from './MainLayout.astro'
import type { CollectionEntry } from 'astro:content'
import { intlFormat } from 'date-fns/intlFormat'

type Blog = CollectionEntry<'blog'>
type Props = Blog['data'] & { slug?: Blog['slug'] }

const { title, description, pubDate, updatedDate, image, slug } = Astro.props
---

<MainLayout title={title} description={description} image={image.src}>
  <article>
    <header class="flex flex-col">
      <h1
        class="mb-2 mt-6 text-balance text-4xl font-bold tracking-tight sm:text-5xl"
      >
        {title}
      </h1>
      <p
        class="mb-1 flex items-center text-base text-zinc-600 dark:text-zinc-400"
      >
        <span class="mr-3 h-4 w-0.5 rounded-full bg-zinc-600 dark:bg-zinc-400"
        ></span>
        <time datetime={pubDate}>
          {
            intlFormat(pubDate, {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })
          }
        </time>
      </p>
      {
        updatedDate && (
          <p class="ml-3.5 text-xs text-zinc-600 dark:text-zinc-400">
            Updated on
            <time datetime={updatedDate}>
              {intlFormat(updatedDate, {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })}
            </time>
          </p>
        )
      }
    </header>
    <div class="prose mt-8 dark:prose-invert">
      <slot />
    </div>
  </article>
</MainLayout>
