---
import { Image } from 'astro:assets'
import { intlFormat } from 'date-fns/intlFormat'
import MainLayout from './MainLayout.astro'
import type { CollectionEntry } from 'astro:content'
import { SITE_TITLE } from '~/consts'

type Blog = CollectionEntry<'blog'>
type Props = Blog['data'] & { slug?: Blog['slug'] }

const { title, description, pubDate, updatedDate, image, slug } = Astro.props
---

<MainLayout
  title={`${title} | Blog | ${SITE_TITLE}`}
  description={description}
  image={image.src}
>
  <article class="mx-auto max-w-prose">
    <header class="flex flex-col">
      <Image
        width={1020}
        height={510}
        src={image}
        alt={title}
        class="mb-6 rounded-lg contain-content"
        transition:name={slug}
      />
      <p
        class="mb-4 flex items-center text-base text-zinc-600 dark:text-zinc-400"
      >
        <span class="mr-3 h-4 w-0.5 rounded-full bg-zinc-600 dark:bg-zinc-400"
        ></span>
        <time datetime={pubDate}>
          {
            intlFormat(pubDate, {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })
          }
        </time>
      </p>
      <h1 class="text-balance text-4xl font-bold tracking-tight sm:text-5xl">
        {title}
      </h1>
    </header>
    <div
      class="prose mt-8 dark:prose-invert prose-pre:max-w-[90vw] sm:prose-pre:max-w-none"
    >
      <slot />
    </div>
  </article>
</MainLayout>
